.topmenu{
    list-style-type: none;
    float: right;
}
.topmenu li{
    float: left;
    padding-right: 5px;
    margin-right: 10px;
    position: static;
}
.toplogout {
    color: black;
    margin-top: 5px;
    font-size: 11px;

}
.tenant{
    color:grey;
    font-size: 10px;
    margin-left: -200px;
}
.welcome{
    font-style: oblique;
    font-size: 12px;
}
.ultenant{
    list-style-type: none;
    margin-left: 500px;
    margin-bottom: -10px;
}
.ultenant li{
    float: left;
    margin-right: 10px;
}
